<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</ht<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %}  {% endif %} {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="/quiz21/" method="POST">
    {% csrf_token %}
    what is capital of nagaland?<br>
    <input type="radio" name="1ans" value="bhopal">
    <label for="bhopal">bhopal</label><br>
    <input type="radio" name="1ans" value="hyderabad">
    <label for="gangtok">hyderabad</label><br>
    <input type="radio" name="1ans" value="gangtok">
    <label for="dispur">dispur</label><br>
    <input type="radio" name="1ans" value="kohima">
    <label for="kohima">kohima</label><br>
    <input type="submit">
</form>

</body>
</html>